spring-social-twitter/src/main/resources/org/springframework/social/twitter/config/xml/spring-social-twitter-1.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:social="http://www.springframework.org/schema/social/twitter"
	targetNamespace="http://www.springframework.org/schema/social/twitter">

	<xs:element name="twitter">
		<xs:complexType>
			<xs:attribute name="app-id" use="required" type="xs:string" />
			<xs:attribute name="app-secret" use="required" type="xs:string" />
		</xs:complexType>
	</xs:element>

</xs:schema>